html{
	background: #eee;
}
body{
	font-family: "Times New Roman";
}


#cen{
	text-align: center;
}
.page{
	background: #fff;				
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding: 70px;
	height: auto;
}

table#toc, table#toc th,  table#toc td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px;
}
table#toc{
	width: 100%;
	margin-bottom: 200px;
}

.page-repeater{
	position: relative;
	z-index: 10;
}

img{
	width: 100%;
	height: auto;
}

.center-block{
	display: block;
	text-align: center;
}

.code-holder{
	min-height: 100px;
}

.single-pro{
	page-break-after: always;
}

.page-margin{
	width: 100%;
	height: 970px;
	border-bottom: 2px dashed red;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ie-user-select: none;
}

.page h5{
	color: #bbb;
	padding-bottom: 10px;
	border-bottom: 1px solid #333;
}

p{
	margin: 0px;
	padding: 0px;
}